@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    overflow: hidden;
}

#page1 {
    height: 150vh;
    width: 100vw;
    background-color: #C4BCB2;
    overflow: hidden;
}

#page1 #nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #33322F;
    background-color: #C4BCB2;
    z-index: 1000;
}

#page1 #nav h4 {
    font-size: 1.5rem;
    color: #33322F;
    font-weight: lighter;
    font-family: sans-serif;
}

#page1 #nav img {
    width: 150px;
    cursor: pointer;
    margin-left: -100px;
}

#page1 #nav i {
    font-size: 2rem;
    color: #33322F;    
}

#elems {
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1, #elem2, #elem3 {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#elem2 {
    border-right: 2px solid #acacac;
    padding: 20px 60px;
    text-align: center;
    border-left: 2px solid #a5a5a5;
}

#elem1 #image-div, #elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4, #elem3 h4 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem1 h4 span, #elem3 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 20px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem1 p, #elem3 p {
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}

#elem2 h1 {
    font-size: 50px;
    font-family: canopee;
    color: #33322F;
}

#page3 {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee {
    display: flex;
    gap: 30px;
    animation: scroll 10s linear infinite;
    width: max-content;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#page3:hover .marquee {
    animation-play-state: paused;
}
